/* Styles for Button */

.Button {
  color: #ffffff;
  text-decoration: none;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.12px;
  border-radius: 6px;
  background-color: #3bb4e0;
  padding: 20px 23px;
  box-sizing: border-box;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;

  .ButtonIcon + .ButtonText {
    margin-left: 20px;
  }

  & > * {
    vertical-align:  middle;
    line-height: normal;
    display: inline-block;
  }

  // Styles
  // Default style
  &:hover {
    background-color: #358cac;
  }

  // Outline style
  &.outline {
    background: transparent;
    color: inherit;
    border-radius: 6px;
    border: 2px solid #ffffff;
  }

  // Transparent style
  &.transparent {
    color: inherit;
    background: transparent;
    border: 1px solid transparent;

    &:hover:not(.no-hover) {
      border-radius: 6px;
      border: 1px solid #ffffff;
      box-sizing: border-box;
    }
  }
  &.icon {
    min-width: auto;
    background: transparent;
    color: inherit;
  }

  // Sizes
  &.large {
    padding: 26px 50px;
  }
}