/* Styles for Navbar */

.Navbar {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;

  .right-bar {
    display: flex;

    .Button {
      margin-left: 10px;
    }
  }
}